{% extends 'mainApp/basic.html' %}

{% block title %} 
SignIn
{% endblock %}
{% block css %} 
<style>
.fill{
  height:80%;
}
.alignment{
  align-items:center;
  justify-content:space-evenly;
  display: flex;
  flex-direction: column;
}
</style>
{%endblock%}
{% block body %} 
<form method="POST" action="/signup/">
{% csrf_token %}
<div class="row mt-5">
<div class="container col-4  center">
  <div class="alignment mb-3">
    <h4 >Sign Up </h4>
  </div>
<div class="mb-3 row">
        <label for="inputname" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputPassword" name="name">
        </div>
    </div>    
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="staticEmail" name="email">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputBranch" class="col-sm-2 col-form-label">Branch</label>
        <div class="col-sm-10">
           <select class="form-select" aria-label="Default select example" name="branch">
              <option selected value="it">Information Technology</option>
              <option value="mech">Mechanical</option>
              <option value="elec">Electrical</option>
              <option value="extc">EXTC</option>
              <option value="oth">Others</option>
           </select>
        </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" name="password">
    </div>
  </div>
  <div class="alignment">
    <button type="submit" class="btn btn-success ">Sign Up </button>
    <a type="button" class="text-primary center mt-1" href="/signin/">Already have an Account</a>

  </div>
</div>


</div>
</form>
{% endblock %}